body {
  margin: 0;
  padding: 1rem;
  background: #393B44;
  color: #eee;
  font-family: system-ui, sans-serif;
}

img {
  border-radius: 0.5rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

a {
  color: white;
}

.gallery {
  display: grid;
  grid-row-gap: 2rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
